{% extends "base.html" %}
{% load static %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
              <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="p-3 d-flex justify-content-between">
                  <div class="">
                    <h6>New Admin User Details</h6>
                  </div>
                 
                </div>

                <!-- form -->
                <form action="{% url 'add_admin' %}" method="post">
                    {% csrf_token %}
               
                <div class="pt-3 mb-3  ">
                  <div class="row px-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Username</label>
                        <input type="text" class="form-control" name="user_name" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control"  name="password" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">First Name</label>
                        <input type="text" class="form-control"  name="first_name" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="text" class="form-control"  name="last_name" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="text" class="form-control"  name="phone" id="exampleInputPassword1" placeholder="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="12">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" name="email" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select class="form-control status"  name="status" id="exampleFormControlSelect1">
                          <option selected disabled>Select Status</option>
                          <option value="A">Active</option>
                          <option value="I">Inactive</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" class="form-control"  name="address" id="exampleInputPassword1" placeholder="">
                      </div>
                    </div>
                  </div>

                  <div class="px-3 text-right py-5">
                      <button class="btn primary-btn mr-2 cancel-btn" type="button">cancel</button>
                      <button class="btn secondary-btn add-admin" type="submit">save</button>
                  </div>

                </div>
              </div>
            </div>
             </form>
          </div>

          <!-- Content Row -->
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
{% endblock %}

{% block extrascript %}
<script type="text/javascript">

$('.cancel-btn').on('click', function() {
    window.history.back();
  });


$('.add-admin').click(function(){
  var fisrt_name = ($("input[name='first_name']").val()).trim();
  var phone_number = ($("input[name='phone']").val()).trim();
  var user_name = ($("input[name='user_name']").val()).trim();
  var last_name = ($("input[name='last_name']").val()).trim();
  var password = ($("input[name='password']").val()).trim();
  var email = ($("input[name='email']").val()).trim();
  var status = $(".status").val();
  var address = ($("input[name='address']").val()).trim();
  var submit = true;

    if (fisrt_name==''|| fisrt_name == null){
        $("input[name='first_name']").css('border', '1px solid red');
          submit = false;
    }
     else{
      $("input[name='first_name']").css('border', '1px solid #ced4da');
      submit = true;
    }

    if (password==''|| password == null){
        $("input[name='password']").css('border', '1px solid red');
         submit = false;
    }
    else{
      $("input[name='password']").css('border', '1px solid #ced4da');
      submit = true;
    }

    if (phone_number==''|| phone_number == null){
        $("input[name='phone']").css('border', '1px solid red');
         submit = false;
    }
    else{
      $("input[name='phone']").css('border', '1px solid ##ced4da');
      submit = true;
    }

    if (user_name == ''|| user_name == null){
        $("input[name='user_name']").css('border', '1px solid red');
          submit = false;
    }
    else{
      $("input[name='user_name']").css('border', '1px solid #ced4da');
      submit = true;
   
     }  
      
    if (status == ''|| status == null){
        $('.status').css('border', '1px solid red');
          submit = false;
    }

    else{
      $('.status').css('border', '1px solid #ced4da');
        submit = true;
   
     }

    if (last_name==''|| last_name == null){
        $("input[name='last_name']").css('border', '1px solid red');
          submit = false;
    }
    else{
      $("input[name='last_name']").css('border', '1px solid #ced4da');
      submit = true;
    }

     if (email==''|| email == null){
        $("input[name='email']").css('border', '1px solid red');
          submit = false;
    }

    else{
      $("input[name='email']").css('border', '1px solid #ced4da');
      submit = true;
    }

    if (address==''|| address == null){
        $("input[name='address']").css('border', '1px solid red');
          submit = false;
    }
    else{
      $("input[name='address']").css('border', '1px solid #ced4da');
      submit = true;
    }

    return submit;
});
</script>

  {% endblock %}