{% extends "base.html" %}
{% load static %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

          <!-- Content Row -->

          <div class="row">
            <div class="col-12 mb-5">
              <div class="card p-3">
                <div class="row">
                  <div class="col-md-6">
                    <h6>User Information</h6>
                    <table class="another-tbl table table-borderless mt-4">
                    
                      <tbody>
                        <tr>
                          <th scope="row">Username</th>
                          <td>{{user_info.user.username}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Email</th>
                          <td>{{user_info.user.email}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Date of Birth</th>
                          <td>{{user_info.date_of_birth|date:"Y-m-d"}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Role</th>
                          <td>Artist</td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
                  <div class="col-md-6">
                    <h6>YOUR PLAN</h6>
                    <div class="py-3 px-4 d-flex justify-content-between">
                      <p>Play music in shuffle mode only, with ads.</p>
                      <p>FREE</p>
                    </div>
                    
                  </div>
                </div>
                <div class="filter text-right pr-5 mb-3">
                  <button class="filter-btn">EDIT PROVILE</button>
                </div>
              </div>
            </div>

            {% comment %}
            <!-- Area Chart -->
            <div class="col-12">
              <div class="card mb-4">
                <div class="col-md-6">
                  <!-- Card Header - Dropdown -->
                  <div class="p-3 d-flex justify-content-between">
                    <div class="">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="filter-side">
                      <ul class="nav">
                        <li><a href="#"><span class="mr-3"><i class="fa fa-plus" aria-hidden="true"></i></span> Add</a></li>
                        <div class="topbar-divider d-sm-block"></div>
                        <li><a href="#"><span class="sort-icon mr-3"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span> Sort</a></li>
                        <div class="topbar-divider d-sm-block"></div>
                        <li><a href="#"><span class="mr-3"><i class="fa fa-filter" aria-hidden="true"></i></span>Filters</a></li>
                      </ul>
                    </div>
                  </div>
                  
                  <!-- table -->
                  <div class="pt-3 mb-0 white-table table table-responsive ">
                    <table class="music-tbl table mb-0">
                      <thead>
                        <tr>
                          <th scope="col">DATE</th>
                          <th scope="col">Permission Role</th>
                          <th scope="col">Tools</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="white-txt">01/01/01</div>
                          </td>
                          <td>
                            <div class="white-txt">Admin</div>
                          </td>
                          <td><img class="delete-icn" src="./images/delete.svg"></td>
                        </tr>
                       <tr>
                          <td>
                            <div class="white-txt">01/01/01</div>
                          </td>
                          <td>
                            <div class="white-txt">Admin</div>
                          </td>
                          <td><img class="delete-icn" src="./images/delete.svg"></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="white-txt">01/01/01</div>
                          </td>
                          <td>
                            <div class="white-txt">Admin</div>
                          </td>
                          <td><img class="delete-icn" src="./images/delete.svg"></td>
                        </tr>
                    
                     
                      
                        
                      </tbody>
                    </table>
                       <div colspan="13" class="text-right">
                          <div class="d-flex mr-4 align-items-center justify-content-end">
                            <div class="mr-5 nav-item dropdown d-inline-block">
                                <a class="nav-link dropdown-toggle" href="#" id="perpage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p class="table-perPage mr-2 d-lg-inline text-white">Rows per page:<span class="ml-2 text-dark text-dark-700">8</span></p>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="perpage">
                                  <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                  </a>
                                  <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                  </a>
                                  <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                  </a>
                                  
                                </div>
                            </div>
                            <div class="page-pagination d-flex">
                              <p class="pr-3 m-0"><span>1-8</span> of <span>1240</span></p>
                                <span><i class="mr-3 fa fa-chevron-left" aria-hidden="true"></i></span>
                                <span><i class=" fa fa-chevron-right" aria-hidden="true"></i></span>
                              
                            </div>
                          </div>
                        </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <!-- Content Row -->
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  {% endcomment %}
 {% endblock %}
