    
{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Edit Playlist</title>
{% endblock %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
              <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="p-3 d-flex justify-content-between">
                  <div class="">
                    <h6>Edit Playlist</h6>
                  </div>
                 
                </div>

                <!-- form -->
                <form action="{% url 'edit_playlist' playlist_data.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="pt-3 mb-3  ">
                  <div class="row px-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Title</label>
                        <input type="text" class="form-control" name="title" id="exampleInputPassword1" placeholder="" {% if playlist_data.playlist %} value="{{playlist_data.playlist}}" {% endif %}>
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Artist</label>
                        <!-- <input type="text" class="form-control" name="artist" id="exampleInputPassword1" placeholder=""> -->
                         <select class="form-control choose-artist"  name="artist" id="exampleFormControlSelect1">
                          <option selected disabled>Select Artist</option>
                          {% for user in artist_user %}
                          <option value="{{user.id}}" {% if user.id == playlist_data.artist.id %} selected {% endif %}>{{user.user.first_name}}</option>
                          {% endfor %}
                          <!-- <option>3</option>
                          <option>4</option>
                          <option>5</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Playlist Length eg: “04:20”</label>
                        <input type="text" class="form-control" name="album_length" id="exampleInputPassword1" placeholder="" {% if playlist_data.Playlist_length %} value="{{playlist_data.Playlist_length}}" {% endif %}>
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Cover Image</label>
                        {% if playlist_data.cover_image %}
                        <div style="font-size: 12px;">Currently selected: <a href="{{playlist_data.cover_image.url}}" target="_blank">{{playlist_data.cover_image}}</a></div>
                        {% endif %}
                        <input type="file" class="form-control custom-upload " name="cover_img" id="exampleFormControlFile1" accept="image/jpeg">
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                         <label for="exampleInputPassword1">Select Playlist Songs</label>
                        <select class="form-control select-song selectpicker2" id="exampleFormControlSelect1" name="selected_song" multiple>
                          <!-- <option selected="" disabled>Select song</option> -->
                          {% for song in songs %}
                          <option value="{{song.id}}">{{song.song_title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Brief e.g. <i>“Enter any size of text description here”</i></label>
                        <textarea class="form-control" name="discription" id="exampleFormControlTextarea1" rows="3">{% if playlist_data.description %}{{playlist_data.description}} {% endif %}</textarea>
                      </div>
                    </div>
                  </div>

                  <div class="px-3 text-right py-5">
                      <button class="btn primary-btn mr-2 cancel-btn" type="button">cancel</button>
                      <button class="btn secondary-btn add-playlist" type="submit">update</button>
                  </div>

                </div>
              </div>
            </div>
            </form>
          </div>

          <!-- Content Row -->
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
 {% endblock %}



 {% block extrascript %}
<script type="text/javascript">

$('.cancel-btn').on('click', function() {
    window.history.back();
  });


$('.add-playlist').click(function(){
  var title = ($("input[name='title']").val()).trim();
  var artist = $(".choose-artist").val();
  var discription = ($("textarea[name='discription']").val()).trim();
  var select_song = $(".selectpicker2").val();
  var submit = true;

    if (title==''|| title == null){
        $("input[name='title']").css('border', '1px solid red');
          submit = false;
    }
     else{
      $("input[name='title']").css('border', '1px solid #ced4da');
    } 
      
    if (artist == ''|| artist == null){
        $('.choose-artist').css('border', '1px solid red');
          submit = false;
    }

    else{
      $('.choose-artist').css('border', '1px solid #ced4da');
   
     }
    if (select_song == ''|| select_song == null){
        $('.select-song').css('border', '1px solid red');
          submit = false;
    }

    else{
      $('.select-song').css('border', '1px solid #ced4da');
   
     }


    if (discription==''|| discription == null){
        $("textarea[name='discription']").css('border', '1px solid red');
          submit = false;
    }
    else{
      $("textarea[name='discription']").css('border', '1px solid #ced4da');
    }

    return submit;
});
 $(function () {
    $('.selectpicker2').selectpicker();
});

</script>

  {% endblock %}