{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Genre List</title>
{% endblock %}


{% load custom_tags %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
              <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="p-3 d-flex justify-content-between">
                  <div class="">
                    <h6>All Admin Users</h6>
                  </div>
                  <div class="filter-side">
                    <ul class="nav">
                      <li><a href="{% url 'add_genre' %}"><span class="mr-3"><i class="fa fa-plus" aria-hidden="true"></i></span> Add</a></li>
                      <div class="topbar-divider d-sm-block"></div>
                      <li><a href="javascript:void(0);" onclick="sortTable()"><span class="sort-icon mr-3"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span> Sort</a></li>
                      <div class="topbar-divider d-sm-block"></div>
                      <li><a href="#"><span class="mr-3"><i class="fa fa-filter" aria-hidden="true"></i></span>Filters</a></li>
                    </ul>
                  </div>
                </div>

                <!-- table -->
                <div class="pt-3 mb-0 white-table table table-responsive ">
                  <table class="music-tbl table mb-0" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">Track Genres details</th>
                        <th scope="col"># of Tracks</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Is Deleted</th>
                        <th scope="col">Action</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for genre in page_data %}
                
                      <tr>
                        <td>
                          <div class="table-dark-td">{{genre.genre}}</div>
                           {% day_diffrence to_date|date:'Y-m-d' genre.created_at|date:"Y-m-d" as diffrence %}
                          <small class="text-white tbl-sml">Updated {{diffrence}} ago</small>
                        </td>
                        <td>
                          <div class="table-dark-td">Tom Cruise</div>
                          <small class="text-white tbl-sml">on {{genre.created_at|date:"Y-m-d"}}</small>
                        </td>
                        <td>
                           
                          <div class="table-dark-td">{{genre.created_at|date:"Y-m-d"}}</div>
                          <small class="text-white tbl-sml">{{ genre.created_at|date:"H:i" }}</small>
                        </td>
                        <td>
                          <!-- <button class="old-btn">OLD</button> -->
                          <div class="table-dark-td">{% if genre.status == True %} Active {% else %}
                          Inactive {% endif %}</div>
                        </td>
                        <td>
                          <!-- <button class="old-btn">OLD</button> -->
                          <div class="table-dark-td">{% if genre.is_deleted == True %} True {% else %}
                          False {% endif %}</div>
                        </td>
                        <td>
                         <a href="{% url 'edit_genre' genre.id %}"><button class="old-btn">Edit</button></a>
                         {% if genre.is_deleted == False %} <button class="old-btn delete-genre" data-id="{{genre.id}}">Delete</button> {% endif %}
                         
                        </td>
                        <td class="tri-dot"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                      </tr>

                      {% endfor %}
                     
                     
                      <tr>
                        <td colspan="13" class="text-right">
                          <div class="d-flex mr-4 align-items-center justify-content-end">
                    
                            <div class="mr-5 nav-item dropdown d-inline-block">
                                <a class="nav-link dropdown-toggle" href="#" id="perpage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p class="table-perPage mr-2 d-lg-inline text-white">Rows per page:<span class="ml-2 text-dark text-dark-700">{{row}}</span></p>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="perpage">
                                  <a class="dropdown-item" href="?row=5">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                 5
                                  </a>
                                  <a class="dropdown-item" href="?row=10">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    10
                                  </a>
                                  <a class="dropdown-item" href="?row=25">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                   25
                                  </a>
                                  
                                </div>
                            </div>
                     
                            <div class="page-pagination d-flex">

                              <p class="pr-3 m-0"><span> {% if page_data.has_previous %}{{ page_data.number|add:'-4' }}{% else %}{{ page_data.number }}{% endif %} to {% if page_data.paginator.num_pages > page_data.number|add:'5' %}{{ page_data.number|add:'4' }}{% else %}{{ page_data.paginator.num_pages }}{% endif %} of {{ page_data.paginator.num_pages }}</span></p>
                              <ul  class="pagination">
                               {% if page_data.has_previous %}
                                
                                 <li class="paginate_button page-item previous" id="default_order_previous"><a href="?page={{ page_data.previous_page_number }}"><span><i class="mr-3 fa fa-chevron-left" aria-hidden="true"></i></span></a></li>
                              {% else %}
                              <li class="paginate_button page-item previous disabled" id="default_order_previous">
                              <a href="javascript:void(0);">  <span><i class="mr-3 fa fa-chevron-left" aria-hidden="true"></i></span></a></li>
                              {% endif %}
                               {% for i in page_data.paginator.page_range %}
                                  {% if page_data.number == i %}
                                       <li class="paginate_button page-item active"><a href="?page={{ i }}" class="page-link" style="font-size: 10px;">{{ i }}</a></li>
                                  {% elif i > page_data.number|add:'-5' and i < page_data.number|add:'5' %}
                                      <li class="paginate_button page-item"><a href="?page={{ i }}" class="page-link" style="font-size: 10px;">{{ i }}</a></li>
                                  {% endif %}
                              {% endfor %}
         
                                 {% if page_data.has_next %}
                                <li class="paginate_button page-item next" id="default_order_next">
                              <a href="?page={{ page_data.next_page_number }}"><span style="margin-left: 15px;"><i class=" fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                               {% else %}
                                <li class="paginate_button page-item next disabled" id="default_order_next"> <a href="javascript:void(0);">  <span style="margin-left: 15px;"><i class=" fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                              {% endif %}
                               </ul>
                         
                          </div>
                            </div>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
            
          </div>

          <!-- Content Row -->
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
{% endblock %}
{% block extrascript %}
<script src="{% static 'js/sort_table.js' %}"></script>

<script type="text/javascript">
  
  $('.delete-genre').click(function(){
    var gen_id = $(this).attr('data-id');
    
    $.ajax({
            url:"{% url 'genre_list' %}",
            type:'POST',
            data:{
               'csrfmiddlewaretoken':'{{csrf_token}}',
                'genre_id':gen_id,
               
            },
            success: function(response) {
                if (response.status == true){
                  window.location.reload();
                }
               
            }
    })
  })

</script>
{% endblock %}