{% extends "base.html" %}
{% load static %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="subcription-page py-5">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-7">
        				<div class="card text-center p-5">
        					<h2 class="premium-head"><i>Go Premium</i></h2>
        					<ul class="Premium-list">
        						<li>Download Music</li>
        						<li>No Add Interruptions</li>
        						<li>Play Any Songs</li>
        						<li>Unlimited Skips</li>
        					</ul>
        					<button class="get-now mt-4">GET NOW</button>
        				</div>
        			</div>

        			<div class="col-md-5">
        				<div class="card text-center p-5">
        					<h2 class="premium-head"><i>Premium </i><span class="family"> Family</span></h2>
        					<ul class="Premium-list">
        						<li><i class="fa fa-check" aria-hidden="true"></i></li>
        						<li><i class="fa fa-check" aria-hidden="true"></i></li>
        						<li><i class="fa fa-check" aria-hidden="true"></i></li>
        						<li><i class="fa fa-check" aria-hidden="true"></i></li>
        						<li>6 Premium accounts for family members</li>
        					</ul>
        					<button class="get-now mt-4">GET NOW</button>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
{% endblock %}